version: "3.1"
services:

    mysql:
      image: mysql:5.7.23
      container_name: wcs_quest
      working_dir: /
      volumes:
        - .:/application
        - c:/mysql/wcs_quest/:/var/lib/mysql
      environment:
        - MYSQL_ROOT_PASSWORD=root
        - MYSQL_DATABASE=wcs
        - MYSQL_USER=root
        - MYSQL_PASSWORD=root
      ports:
        - "33063:3306"